<template>
  <main>
      <div class="main-header">
        <p class="up-info">Supercharged for pros.</p>
        <p class="info">
          The most powerful MacBook Pro ever is here. With the blazing-fast M1
          Pro or M1 Max chip — the first Apple silicon designed for pros — you
          get groundbreaking performance and amazing battery life. Add to that a
          stunning Liquid Retina XDR display, the best camera and audio ever in
          a Mac notebook, and all the ports you need. The first notebook of its
          kind, this MacBook Pro is a beast.
        </p>
      </div>
      <div class="main-part">
        <div class="left">
          <img class="img" :src="this.isTrue" alt="" />
        </div>
        <div>
          <p class="brend">
            Macbook Pro <br />
            <span class="color">{{ grey }}</span>
          </p>
          <div>
            <p data-type="true" id="absmain" class="price spec">
              <span class="abs">$</span>
              {{ defalt }}
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="colors">
          <button
            v-for="col of colorArr"
            :key="col.id"
            @click="changeModel(col.optPrice, col.opt)"
            class="btn-color btn-left"
          >
            {{ col.opt }}
          </button>
        </div>
        <div class="memory" v-for="item of memories" :key="item.id">
          <button @click="clickMemory(item.add)" class="btn-mem ssd500">
            <p>{{ item.name }}</p>
            <p class="deleteOne"><span>+$</span>{{ item.add }}</p>
          </button>
        </div>
      </div>
    </main>
</template>

<script>
export default {name: "Salam"}

</script>

<style>

</style>