<template>
  <div id="wrapper" @mousemove="go()">
    <main>
      <div class="main-header">
        <p class="up-info">Supercharged for pros.</p>
        <p class="info">
          The most powerful MacBook Pro ever is here. With the blazing-fast M1
          Pro or M1 Max chip — the first Apple silicon designed for pros — you
          get groundbreaking performance and amazing battery life. Add to that a
          stunning Liquid Retina XDR display, the best camera and audio ever in
          a Mac notebook, and all the ports you need. The first notebook of its
          kind, this MacBook Pro is a beast.
        </p>
      </div>
      <div class="main-part">
        <div class="left">
          <img class="img" :src="this.isTrue" alt="" />
        </div>
        <div>
          <p class="brend">
            Macbook Pro <br />
            <span class="color">{{ grey }}</span>
          </p>
          <div>
            <p data-type="true" id="absmain" class="price spec">
              <span class="abs">$</span>
              {{ defalt }}
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="colors">
          <button
            v-for="col of colorArr"
            :key="col.id"
            @click="changeModel(col.optPrice, col.opt)"
            class="btn-color btn-left"
          >
            {{ col.opt }}
          </button>
        </div>
        <div class="memory" v-for="item of memories" :key="item.id">
          <button @click="clickMemory(item.add)" class="btn-mem ssd500">
            <p>{{ item.name }}</p>
            <p class="deleteOne"><span>+$</span>{{ item.add }}</p>
          </button>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  name: "App",
  data: () => {
    return {
      isFalse:
        "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mbp14-silver-select-202110_GEO_RU?wid=452&hei=420&fmt=jpeg&qlt=95&.v=1633657234000",
      isTrue:
        "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mbp14-spacegray-select-202110_GEO_RU?wid=452&hei=420&fmt=jpeg&qlt=95&.v=1633657385000",
      defalt: 1999,
      priceWhite: 1999,
      priceGrey: 2599,
      static1: 1999,
      static2: 2599,
      colorArr: [
        {
          opt: "White",
          optPrice: 1999,
        },
        {
          opt: "Space Gray",
          optPrice: 2599,
        },
      ],
      memories: [
        {
          id: Math.random(),
          name: "512 GB SSD",
          add: 0,
        },
        {
          id: Math.random(),
          name: "1 TB SSD",
          add: 200,
        },
        {
          id: Math.random(),
          name: "2 TB SSD",
          add: 600,
        },
        {
          id: Math.random(),
          name: "4 TB SSD",
          add: 1200,
        },
      ],
      white: "White",
      grey: "Space Gray",
    };
  },
  methods: {
    clickMemory: function (plus) {
      let spec = document.querySelector(".spec");
      if (spec.getAttribute("data-type") == "true") {
        this.defalt = this.static1 + plus;
      } else {
        this.defalt = this.static2 + plus;
      }

      let btns = document.querySelectorAll(".btn-mem");
      for (let btn of btns) {
        btn.classList.remove("active");
        btn.onclick = () => {
          btn.classList.add("active");
        };
      }
    },
    go: function(){
      let deleteOnes = document.querySelectorAll('.deleteOne')
      deleteOnes[0].style.opacity = '0'
    },
    changeModel: function (price, name) {
      let btns = document.querySelectorAll(".btn-color");
      let btnsMem = document.querySelectorAll(".btn-mem");

      btnsMem.forEach(item => item.classList.remove('active'))

      for (let btn of btns) {
        btn.classList.remove("active");
        btn.onclick = () => {
          btn.classList.add("active");
        };
      }
      this.defalt = price;
      document.querySelector(".color").innerHTML = name;

      let img = document.querySelector(".img");
      if (price == this.static1) {
        img.setAttribute("src", this.isTrue);
      } else {
        img.setAttribute("src", this.isFalse);
      }
    },
  },
  components: {},
};
</script>

<style>
#wrapper {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 70px;
  width: 1700px;
  margin: 0 auto;
}
main {
  width: 1008px;
  height: 171px;
  margin: 0 auto;
}
.main-header {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}
.up-info {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #000000;
}
.info {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 200px;
  color: #000000;
}
.main-part {
  width: 680px;
  height: 290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  text-align: left;
}
.color {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #0071e3;
  line-height: 10px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 48px;
  display: block;
}
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  /* line-height: 60px; */
  color: #000000;
}
.buttons {
  width: 321px;
  height: fit-content;
  margin: 60px auto;
}
.colors {
  display: flex;

  width: 321px;
  height: 42px;
  margin-bottom: 40px;
}
.btn-color {
  width: 155px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background: #cfe7ff;
  color: #797979;
}
.btn-left {
  margin-right: 11px;
}

.memory {
  width: 321px;
  height: fit-content;
}
.btn-mem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: 600;
  width: 321px;
  height: 57px;
  border: 2px solid #007fff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 8px;
  background: transparent;
}
.hide {
  opacity: 0;
}
.shit {
  width: 100px;
}
.active {
  background: #0071e3;
  color: white;
  transition: 200ms ease;
}
.img {
  width: 312px;
  height: 290px;
}
.spec {
  position: relative;

  width: fit-content;
}

.abs {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  /* line-height: 60px; */
  color: #000000;
  width: fit-content;
  height: fit-content;
  left: -25px;
}
</style>
